body {
    background: #eee;
}

.buttons button:nth-child(1) {
    border: 1px solid rgb(44, 44, 255) !important;
    color: rgb(44, 44, 255);
    height: 40px;
}

.buttons button:nth-child(1):hover {
    border: 1px solid rgb(44, 44, 255) !important;
    color: #fff;
    height: 40px;
    background-color: rgb(44, 44, 255);
}

.buttons button:nth-child(2) {
    border: 1px solid rgb(44, 44, 255) !important;
    background-color: rgb(44, 44, 255);
    color: #fff;
    height: 40px;
}

.buttons button:nth-child(2):hover {
    background-color: rgb(18, 18, 192);
}

.row>div:hover {
    cursor: pointer;
    color: rgb(18, 18, 192) !important;
}

.cont {
    font-weight: 800;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card {
    border: none;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 20px;
    overflow: hidden;
    min-height: 360px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);

    &.card-has-bg {
        transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: inherit;
            -webkit-filter: grayscale(1);
            -moz-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            filter: grayscale(100%);
        }

        &:hover {
            transform: scale(0.98);
            box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
            background-size: cover;
            transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);

            .card-img-overlay {
                transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
                background: rgb(255, 186, 33);
                background: linear-gradient(0deg, rgb(1, 57, 13, 0.5) 0%, rgba(255, 186, 33, 1) 100%);

            }
        }
    }

    .card-footer {
        background: none;
        border-top: none;

        .media {
            img {
                border: solid 3px rgba(255, 255, 255, 0.3);
            }
        }
    }

    .card-title {
        font-weight: 800;
        color: #fff;
        font-style: normal;
        line-height: normal;
    }

    .card-meta {
        color: rgba(0, 0, 0, 0.3);
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 2px;
    }

    .card-body {
        transition: all 100ms cubic-bezier(0.19, 1, 0.22, 1);
    }

    .name {
        font-weight: 800;
        color: #fff;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .vs {
        color: #FFF;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .reserve {
        color: white;
        text-decoration: none;
        /* padding: 3%; */
    }

    .see {
        color: #FFF;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &:hover {
        .card-body {
            margin-top: 30px;
            transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
        }

        cursor: pointer;
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    }

    .card-img-overlay {
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
        background: rgb(255, 186, 33);
        background: linear-gradient(0deg, rgba(255, 186, 33, 0.3785889355742297) 0%, rgba(255, 186, 33, 1) 100%);
    }
}